<div class="card rounded w-25 m-2 p-3" style="cursor: pointer;">
    <div class="card-image">
        <img src="<%= e.imageUrl %>" class="rounded w-100"  />
    </div>
    <div class="card-info">
        <div class="card-title fs-2 fw-bold my-2"><u><%= e.title %></u></div>
        <div class="description text-muted">
            Publish Date : <%= e.publishDate %> <br>
            Country : <%= e.country %>
        </div>
    </div>
</div>